/* Coolors Exported Palette - coolors.co/a9bdce-393b36-83a1b9-b8aa97-f3f0eb */

/* HSL */
$color1: hsla(208%, 27%, 74%, 1);
$color2: hsla(84%, 4%, 22%, 1);
$color3: hsla(207%, 28%, 62%, 1);
$color4: hsla(35%, 19%, 66%, 1);
$color5: hsla(38%, 25%, 94%, 1);

/* RGB */
$pastelblue: rgba(169, 189, 206, 1);
$blackolive: rgba(57, 59, 54, 1);
$pewterblue: rgba(131, 161, 185, 1);
$khaki: rgba(184, 170, 151, 1);
$isabelline: rgba(243, 240, 235, 1);
